<launch>
 	<node name="joy_teleop" pkg="joy_teleop" type="joy_teleop.py">
 		<rosparam file="/opt/ros/kinetic/share/joy_teleop/config/joy_teleop_example.yaml" command="load"/>
 	</node>

	<node respawn="true" pkg="joy" type="joy_node" name="joy" output="screen">
		<param name="dev" type="string" value="/dev/input/js0" />
		<param name="deadzone" value="0.12" />
	</node>

    <node name="pololu" pkg="BathyBoatNav" type="pololu">
        <param name="Path" 			type="string" 	value="/dev/pololu"/>
        <param name="Cons_channel" 	type="string" 	value="/key_vel"/>
        <param name="Turn_gap" 		type="int" 		value="100"/>
    </node>

 	<node name="rosbag_record_diag" pkg="rosbag" type="record" 
 			args="record -o /home/lallemfa/bags/teleop -a"/>

</launch>